body {
  font-family: "Roboto", Sans-Serif;
  padding:0;
  margin:0;
  margin-top:100px;
  background-color: #F5F6F8;
}
#top_navbar {
  z-index: 9999;
  isolation: isolate;
  position: fixed;
  top:0;
  left:0;
  right:0;
  margin: 0px;
  padding-top: 0px;
  padding-left: 8px;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  color:black;
  justify-content: space-between;
  border-bottom:1px solid black;
  z-index: 1000;
  width: 100vw;
  box-sizing: border-box;
}

#navbar_container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
#navbar_logo {
  width:26%;
  background-color: white;
}
#navbar_icon {
  display: flex;
  padding-right:13px;
  gap: 18px;
  align-items: center;
}
#sun_icon {
  font-size:20px;
  align-items: center;
}
#get_started_button {
  border-radius: 8px;
  background-color: #2682de;
  padding:8px;
  font-family: "Roboto", sans-serif;
  font-weight:bold;
  font-size: 15px;
  color:white;
  text-decoration:none;
}
#get_started_button:hover {
  background-color: grey;
}
#main_content {
  z-index:1;
}
#jawa {
  display:block;
  align-items: center;
  justify-content: center;
  border:0px solid black;
  text-align: center;
  margin: 70px 40px 50px 40px;
}
#jawa h1 {
  margin:0;
}
#jawa p {
  color: #555555;
  line-height: 1.6;
}
.pricing_card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding:25px;
  margin: 0 30px 40px 30px;
  border-radius: 10px;
  text-align:center;
  gap:15px;
  background-color: white;
  border:2px solid #d9d9d9;
}
.pricing_card:hover {
  border:2px solid #bfbfbf;
  cursor: pointer;
}
.pricing_card h5 {
  font-size: 22px;
  margin: 0;
}
#coin_num span {
  display:flex;
  gap:5px;
}
#coin_num span p {
  margin:0;
  font-size: 28px;
  border:0px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:600;
  color:#1976D2;
  gap:50px;
}
#coin_num h5 {
  font-size: 26px;
  border:0px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0px;
}
.pricing_card p {
  margin: 0;
  font-size: 16px;
  color:#555555;
  margin-top:5px;
}
.pricing_card #price_subtext {
  color:#555555;
}
.pricing_card button {
  padding:12px;
  border:none;
  background-color: #f0f0f0;
  border-radius: 10px;
  font-weight: 450;
  font-size:18px;
  color:black;
}
.pricing_card button:hover {
  background-color: #e5e7eb;
  color:blaack;
  cursor: pointer;
} 
.pricing_card img {
  width:30px;
  margin:0;
}
.pricing_card span {
  display:flex;
  align-items: center;
  justify-content: center;
  gap:3px;
}
.pricing_card p {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:0;
  padding:0;
  gap:5px;
}
#procoin_img {
  width:25px;
  box-sizing: border-box;
}

#credit_features {
  border:0px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  margin:0;
}
#credit_features span {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}
#credit_features_card {
  border: 0px solid black;
  padding:14px;
  background-color: white;
  border-radius:8px;
  display:flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
  width:88%;
}
#credit_features_icon {
  background-color: #F5F6F8;
  padding:12px;
  border-radius:8px;
}
#credit_features_card i {
  font-size: 18px;
  color: #555555;
}
#credit_features_sidetext {
  border:0px solid black;
  display:flex;
  flex-direction: column;
  gap:6px;
}
#credit_features_sidetext span {
  font-size: 18px;
  margin:0;
  font-weight: 500;
}
#credit_features_sidetext p {
  color:#555555;
  margin:0;
  font-size:15px;
}
#FAQ {
  border:0px solid black;
  display: flex;
  justify-content: center;
  margin-top:40px;
  flex-direction: column;
  align-items: center;
}
#FAQ span {
  font-size: 26px;
  margin:0 0 40px 0;
  font-weight: 600;
}
#FAQ_card {
  display: flex;
  flex-direction:column;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding:20px 20px;
  margin: 0 30px 30px 30px;
  border-radius: 10px;
  text-align:center;
  align-items: flex-start;
  background-color: white;
  width:94%;
  box-sizing: border-box;
  border:0px solid black;
  text-align: left;
  justify-content: flex-start;
  gap:10px;
}
#FAQ_card span {
  margin:0 0 0 0;
  font-size:20px;
  font-weight:500;
}
#FAQ_card p {
  border: 0px solid black;
  text-align: left;
  justify-content: flex-start;
  margin:0;
  color:#555555;
  font-size: 16px;
  line-height:1.4;
}
#final_cta {
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  background-color: #F9FDF4;
  padding:50px 30px;
}
#final_cta span {
  font-size:30px;
  margin:20px 60px;
  font-weight:750;
}
#final_cta p {
  margin:0 30px;
  font-size:18px;
  color:#555555;
  line-height:1.4;
}
#final_cta a {
  margin-top:30px;
  padding:15px 25px;
  font-size:18px;
  font-weight:600;
  border:none;
  border-radius:8px;
  background-color: #16a34a;
  color:white;
  cursor: pointer;
}
#final_cta a:hover {
  background-color: #15803d;
}