body {
    font-family: "Roboto", Sans-Serif;
}
#first_card {
    border:1px solid #e5e5e5;
    border-radius:12px;
    color:black;
    display:flex;
    flex-direction:column;
    gap:35px;
    padding:25px 25px;
    margin:70px 20px 20px 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
#first_card span {
    font-size:15px;
    color:black;
    font-weight:500;
}
#title_value {
    display:flex;
    flex-direction:column;
    margin:0;
    gap:10px;
    width: 100%;
    height:100%;
}
#title_input {
    border-radius:8px;
    box-sizing:border-box;
    border:0px solid #e0e0e0;
    border-radius:8px;
    width:100%;
    height: 50px;
    margin:0;
    background-color: #f9f9f9;
    outline-color: lightgray;
    padding: 0 15px;
    font-size:15px;
}
#title_value input:focus {
    background-color:white;
}
#description_input {
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    margin: 0;
    background-color: #f9f9f9;
    outline-color: lightgray;
    padding: 10px 15px;
    font-size: 15px;
    border: 0;
     resize: none;
    line-height: 1.5;
    font-family: "Roboto", Sans-Serif;
}
#description_input:focus {
    background-color: white;
}
#second_card {
    border:1px solid #e5e5e5;
    border-radius:12px;
    color:black;
    display:flex;
    flex-direction:column;
    gap:35px;
    padding:25px 25px;
    margin:30px 20px 20px 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
#second_card span {
  font-weight:500;
}
#second_card_value {
    display:flex;
    flex-direction:column;
    margin:0;
    gap:10px;
}
#second_card_value select {
    border-radius:8px;
    box-sizing:border-box;
    border:0px solid #e0e0e0;
    border-radius:8px;
    width:100%;
    height: 50px;
    margin:0;
    background-color: #f9f9f9;
    outline-color: lightgray;
    padding: 0 15px;
    font-size:15px;
}
#second_card_value select:focus {
    outline-color: lightgray;
    background-color:white;
}
#label {
    border:1px solid #e5e5e5;
    padding:5px 15px;
    border-radius: 30px;
    font-size: 13px;
    font-weight:500;
    background-color:#E5FFE5;
    color:#3CB93C;
    display:inline-flex;
    align-items: center;
}
#dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right:8px;
    background-color: #3CB93C;
    vertical-align: middle;
    
}
#category_label {
    margin-top:20px;
}
#third_card {
    border:1px solid #e5e5e5;
    border-radius:12px;
    color:black;
    display:flex;
    flex-direction:column;
    gap:35px;
    padding:25px 25px;
    margin:30px 20px 20px 20px;
}
#grid {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap:15px 20px;
  box-sizing: border-box;
}
label {
  color: #999999;
  font-size:15px;
}
.field {
  gap: 5px;
  display: flex;
  flex-direction: column;
}#grid {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap:15px 20px;
}
label {
  color: #999999;
  font-size:15px;
}
.field {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
select.date,
select.month,
select.year {
  box-sizing: border-box;
  outline:none;
  border:none;
  border-radius: 8px;
  width: 120px;
  padding: 10px 8px;
  background-color: #f9f9f9;
}
select:focus {
  outline: 2px solid lightgray;
}
#time {
  width: 100%;
  height: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 0 10px;
  box-sizing: border-box;
  border:none;
}
#time:focus {
  outline: 2px solid lightgray;
}
#create_reminder {
  display: block;
  width: 90%;
  margin: auto;
  border:0px;
  border-radius: 10px;
  background-color: #22C55E;
  padding:15px;
  font-family: "Roboto", sans-serif;
  font-weight:bold;
  font-size: 15px;
  color:white;
  margin-bottom: 50px;
}