body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
}
#card {
    background: #fff;
    border-radius: 16px;
    padding:40px 38px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    text-align: center;
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
}
#email_verification_img {
    width: 120px;
    margin-bottom: 10px;
}
#card h3 {
    font-size: 28px;
    margin: 0 0 0 0;
}
#card p {
    color: #555555;
    margin: 0 0 0 0;
    font-size: 14px;
    line-height: 1.5;
}
#note {
    background-color: #fefce8;
    border: 1px solid #facc15;
    border-radius: 8px;
    padding: 15px 15px;
    font-size: 14px;
    color: #92400e;
    margin:0 2px;
    display: flex;
    text-align: left;
}
#info_icon {
    margin-right: 10px;
    font-size: 16px;
    color:#92400e;
    flex-shrink: 0;
}
#note p {
    margin: 0;
    font-size:13px;
    color:#92400e
}
#card button {
    background-color: #1976D2;
    border:none;
    color:white;
    padding:12px 0;
    border-radius:10px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    margin-top:10px;
    width: 50%;
}
